debug_mode: false

# Vehicle settings
vehicle_name: 'Shelby-GT 100500'
vehicle_turning_apex: 75
steering_strategy: 'tank'
accessories:
  - lights
  - global-enable

# Video Settings
ffmpeg:
  command: '/usr/local/bin/ffmpeg'
  input_format: 'avfoundation'
  input_device: '0'
  secondary_input_device: '3'
  bitrate: '800k'
  fps: 23
  rotate_180: false
  loglevel: 'panic'
ratio:
  factor: 1
  horizontal: 320
  vertical: 240

# Connection settings
host: '159.203.81.18'
port: 1337
